    <div class="alert-background"></div>
    <div class="usa-alert usa-alert--info">
        <div class="usa-alert__body grid-container">
          <h4 class="usa-alert__heading">New! Update headline here</h4>
          <p class="usa-alert__text">
            Update announcement text here, and the url in the link. <a class="usa-link" href="{{ site.baseurl }}/about/updates/year-in-review/special-report/overview.html">Update link text here</a>
            <!-- <a class="usa-link" href="javascript:void(0);">Example link here.</a> -->
          </p>
        </div>
      </div>
