    <div class="alert-background"></div>
    <div class="usa-alert usa-alert--info">
        <div class="usa-alert__body grid-container">
          <h4 class="usa-alert__heading">New! Special Report</h4>
          <p class="usa-alert__text">
            We're pleased to release our special report <a class="usa-link" href="{{ site.baseurl }}/about/updates/year-in-review/special-report/overview.html">Making the big move: Search in support of federal web modernization</a>
            <!-- <a class="usa-link" href="javascript:void(0);">Example link here.</a> -->
          </p>
        </div>
      </div>
