<div class="usa-identifier">
  <section class="usa-identifier__section usa-identifier__section--masthead" aria-label="Agency identifier">
      <div class="usa-identifier__container">
          <div class="usa-identifier__logos">
              <a href="https://www.gsa.gov" class="usa-identifier__logo">
                <img src="{{site.baseurl}}/assets/images/gsa-logo.svg" class="usa-identifier__logo-img" alt="GSA logo" role="img" />
                  <!-- <img class="" src="{{ site.baseurl }}/assets/images/gsa-logo.svg" alt="GSA logo" role="img"> -->
              </a>
          </div>
          <div class="usa-identifier__identity" aria-label="Agency description">
              <p class="usa-identifier__identity-domain">search.gov</p>
              <p class="usa-identifier__identity-disclaimer">
                  An official website of the GSA's <a href="https://gsa.gov/tts">Technology Transformation Services</a>
              </p>
          </div>
      </div>
  </section>
  <nav class="usa-identifier__section usa-identifier__section--required-links" aria-label="Important links">
      <div class="usa-identifier__container">
          <ul class="usa-identifier__required-links-list">
              <li class="usa-identifier__required-links-item">
                  <a href="https://www.gsa.gov/about-us" class="usa-identifier__required-link">
                      About GSA
                  </a>
              </li>
              <li class="usa-identifier__required-links-item">
                  <a href="https://www.gsa.gov/website-information/website-policies#accessibility" class="usa-identifier__required-link">
                      Accessibility
                  </a>
              </li>
              <li class="usa-identifier__required-links-item">
                  <a href="https://www.gsa.gov/reference/freedom-of-information-act-foia" class="usa-identifier__required-link usa-link">
                      FOIA requests
                  </a>
              </li>
              <li class="usa-identifier__required-links-item">
                  <a href="https://www.gsa.gov/website-information/website-policies#privacy" class="usa-identifier__required-link usa-link">
                      Privacy policy
                  </a>
              </li>
              <li class="usa-identifier__required-links-item">
                  <a href="https://www.gsa.gov/website-information/website-policies" class="usa-identifier__required-link usa-link">
                      Website policies
                  </a>
              </li>
          </ul>
      </div>
  </nav>
  <section class="usa-identifier__section usa-identifier__section--usagov" aria-label="Government information and services">
      <div class="usa-identifier__container">
          <div class="usa-identifier__usagov-description">Have a question about government services?</div>
          <a href="https://www.usa.gov/" class="usa-link">Contact USA.gov</a>
      </div>
  </section>
</div>