<section class="usa-section get-more-info">
  <div class="grid-container">
    <h2><strong>How do I get search right</strong> on my website?</h2>
    <ul class="usa-card-group grid-row grid-gap-6">
      <li class="tablet:grid-col-4 usa-card">
        <div class="usa-card__container">
          <header class="usa-card__header">
            <h3 class="usa-card__heading">Learn all about indexing your site</h3>
          </header>
          <div class="usa-card__body">
            <p>Curious about how to properly index your federal agency website? We can help you get started with our training and resources on indexing.</p>
          </div>
          <div class="usa-card__footer">
            <a class="usa-button" href="/indexing/indexing-with-searchgov.html">Learn about indexing</a>
          </div>
        </div>
      </li>
      <li class="tablet:grid-col-4 usa-card">
        <div class="usa-card__container">
          <header class="usa-card__header">
            <h3 class="usa-card__heading">Managing your search results</h3>
          </header>
          <div class="usa-card__body">
            <p>Want to improve your results? Having trouble with results missing? Learn more about how to improve your search experience.</p>
          </div>
          <div class="usa-card__footer">
            <a class="usa-button" href="/admin-center/">Manage your search</a>
          </div>
        </div>
      </li>
      <li class="tablet:grid-col-4 usa-card">
        <div class="usa-card__container">
          <header class="usa-card__header">
            <h3 class="usa-card__heading">What to do after a site redesign or migration</h3>
          </header>
          <div class="usa-card__body">
            <p>Making improvements to your site can be exciting but also daunting. We created a guide to help you keep your search working well on the new site.</p>
          </div>
          <div class="usa-card__footer">
            <a class="usa-button" href="/indexing/redesign">Read our site update guide</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
