<form id="search_form_body" action="https://search.usa.gov/search" accept-charset="UTF-8" method="get">
    <input type="hidden" name="affiliate" id="affiliate" value="usasearch" />
    <label for="query">Enter Search Term(s):</label>
    <input type="text" name="query" id="query" autocomplete="on" class="usagov-search-autocomplete" />
    <input type="submit" name="commit" value="Search" data-disable-with="Search" />
</form>

<style>
#search_form_body
{
    text-align: center;
    padding: 4rem;
    background-color: #EEE;
    font-size: 1.5rem;
}
</style>