{% comment %}
The sidenav is not loaded by default on the main pages. To include this navigation you can either use the
_layouts/page.html layout template, or you can add a "sidenav" property in the front-matter of your page corresponding to a list in the main config file
{% endcomment %}

<aside class="sidenav" id="page-side-navigation">
  <ul class="site-sidenav usa-sidenav">
    {% assign links = site.data.nav.primary %}
    {% include nav/list.html links=links flat=false current='contains' %}
  </ul>
</aside>