<section class="usa-section site-links">
  <div class="grid-container">
    <div class="grid-row flex-row flex-justify">
      <div class="tablet:grid-col-3">
        <h2>Our Service</h2>
        <ul>
          <li><a href="{{ site.baseurl }}/about/">About Us</a></li>
          <li><a href="{{ site.baseurl }}/developer/">For Developers</a></li>
          <li><a href="{{ site.baseurl }}/about/policy/tos.html">Terms of Service</a></li>
        </ul>
      </div>
      <div class="tablet:grid-col-3">
        <h2>Contact Us</h2>
        <ul>
          <li><a href="mailto:search@gsa.gov">Email Us</a></li>
        </ul>
      </div>
      <div class="tablet:grid-col-3">
        <h2>More Shared Services</h2>
        <ul>
          <li><a href="https://cloud.gov/">Cloud.gov</a></li>
          <li><a href="https://digital.gov/guides/dap/">Digital Analytics Program</a></li>
          <li><a href="https://login.gov/">Login.gov</a></li>
          <li><a href="http://designsystem.digital.gov/">U.S. Web Design System</a></li>
          <li><a href="https://tts.gsa.gov/">All TTS Products and Platforms</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
