<section class="usa-section site-links">
  <div class="grid-container">
    <div class="grid-row flex-row flex-justify">
      <div class="tablet:grid-col-3">
        <h2>Learn</h2>
        <ul>
          <li><a href="#">Search and SEO in Policy</a></li>
          <li><a href="#">Developer Resources</a></li>
          <li><a href="#">Security</a></li>
        </ul>
      </div>
      <div class="tablet:grid-col-3">
        <h2>About</h2>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Site Policies</a></li>
          <li><a href="#">System Status</a></li>
        </ul>
      </div>
      <div class="tablet:grid-col-3">
        <h2>Product</h2>
        <ul>
          <li><a href="#">Monthly Release Notes</a></li>
          <li><a href="#">Product Roadmap</a></li>
        </ul>
      </div>
      <div class="tablet:grid-col-3">
        <ul>
        <h2>Help</h2>
          <li><a href="#">Indexing Questions</a></li>
          <li><a href="#">Locked out of your Account?</a></li>
          <li><a href="#">Add Users to an Account</a></li>
          <li><a href="#">Questions about APIs</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
