<section class="grid-container usa-section usa-prose why-search-gov">
    <div>
        <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">Why <strong>Search.gov?</strong></h2>
        <p><strong>Built for government &mdash;</strong> Secure, compliant, designed around the unique circumstances of government web publishing.</p>
        <p><strong>Highly configurable &mdash;</strong> No developers required - use our easy interface to design your search experience yourself.</p>
        <p><strong>Hands-on customer service &mdash;</strong> We're here to help you, from implementation to SEO.</p>
        <p><strong>No barriers to entry &mdash;</strong> Getting started with Search.gov is friction free.</p>
        <a class="usa-button" href="{{ site.url }}/about/why-choose-searchgov.html">Learn more</a>
    </div>
</section>
