<section class="grid-container usa-section usa-prose why-search-gov">
    <div>
        <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">Why use <strong>Search.gov?</strong></h2>
        <p>Search.gov is a search solution available at no cost for federal government agency websites. Our federal clients agree that Search.gov’s robust wealth of knowledge and personalized, free service are indispensible.</p>
        <blockquote>
            “It would be impossible to match the value of GSA’s Search service by procuring, building, and configuring a custom solution ourselves. With the combination of a very feature-rich search service and knowledgeable staff, this is the most appealing search tool for government websites.”<cite>Department of Homeland Security</cite>
        </blockquote>
        <p>Learn more about what you can do with Search. gov below and create an account if you want to get started today.</p>
        <a class="usa-button" href="javascript:void(0)">Get started today</a>
    </div>
</section>
