<section class="grid-container usa-section usa-prose why-search-gov">
    <div>
        <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">Why <strong>Search.gov?</strong></h2>
        <strong>Built for government</strong>
        <p>Secure, compliant, designed around the unique circumstances of government web publishing.</p>
        <strong>Highly configurable</strong>
        <p>No developers required - use our easy interface to design your search experience yourself.</p>
        <strong>Hands-on customer service</strong>
        <p>We're here to help you, from implementation to SEO.</p>
        <strong>No barriers to entry</strong>
        <p>Getting started with Search.gov is friction free.</p>
        <a class="usa-button" href="{{ site.baseurl }}/about/why-choose-searchgov.html">Learn more</a>
    </div>
</section>
