$default-link-color: #005EA2;
$side-navigation-highlight: #162e51;

// Alert Banner Icon
.alert-background {
  background-color: #1a4480;
  width: 100%;
  padding-top: 2rem;
}

.usa-alert--info .usa-alert__body {
  padding-left: 2rem;
}

.usa-alert__body {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 64rem) {
  .alert-background .grid-container { 
    padding-left: 0;
    padding-right: 0;
  }

  .usa-alert--info:before {
    display: none;
  }

  .usa-alert--info .usa-alert__body {
    padding-left: 1rem;
  }

}

*+.usa-alert {
  margin-top: 0;
}

.usa-alert {
  padding-top: .75rem;
  padding-bottom: .75rem;

  &--info:before {
    background: url(../img/usa-icons/campaign.svg) no-repeat center/contain;  
    -webkit-mask: url(../img/usa-icons/campaign.svg) no-repeat center/contain;  
    background-position-y: center;
    height: 100%;
  }
}


// Updating H3 color on navy background
.usa-section--dark h3 {
  color: #a8f2ff;
}

// Fixing Width Issue on Pages
.usa-layout-docs__main.usa-prose {
  max-width: 88ex;

  table {
    overflow-x: scroll;
    display: block;
  }
}

.language-plaintext {
  code {
    white-space : pre-wrap;
  }
}

//Styling for link-less sidenav labels
.usa-sidenav-label {
  color: #565c65;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.usa-sidenav__sublist a {
  padding-left: 2rem !important;
}

//Add border and styling to current subnav item
.usa-sidenav .usa-current {
  color: $side-navigation-highlight;

  &::after {
    background-color: $side-navigation-highlight;
  }
}

//Archive Banner Styling
.archived-content {
  background-color: #FACE00;
  width: 100%;
  padding: .5rem 1rem;
  display: flex;
}

@media (min-width: 78rem) {
  .usa-header--extended .usa-navbar,
  .usa-header--extended .usa-nav__inner,
  .usa-banner__inner {
    max-width: 78rem;
  }

  .wide-layout,
  .usa-layout-docs {
    .grid-container {
      max-width: 78rem;
    }
  }
}

//Default Link Styling
a {
  color: $default-link-color;
}


//External Link Styling
main {
  [href^=http]:not([href*=".gov"]):not([href*='.mil']):not([href*='localhost'])::after{
    background-image: url("../assets/img/site/launch.svg");
    background-position: 50% 60%;
    background-repeat: no-repeat;
    background-size: 100%;
    content: "";
    display: inline;
    margin-left: 2px;
    padding-left: .65em;
  }
}

// fix carrot icon on USWDS banner

.usa-banner__button {
  width: 8rem;
}

// Code Block Styling

pre.highlight {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

.highlighter-rouge {
  background-color: #f0f0f0;
  border: 1px solid #dfe1e2;
}

table code.highlighter-rouge {
  background-color: #fff !important;
  border: none;
}

@import 'components/header';
@import 'components/hero';
@import 'components/why-search-gov';
@import 'components/highlights';
@import 'components/get-more-info';
@import 'components/site-links';
@import 'components/footer';
@import 'components/customers';
@import 'components/top-tasks';
@import 'components/tags';
@import 'components/year-review';
