$default-link-color: #005EA2;

// Fixing Width Issue on Pages
.usa-layout-docs__main.usa-prose {
  max-width: 68ex;

  table {
    overflow-x: scroll;
    display: block;
  }
}

.language-plaintext {
  code {
    white-space : pre-wrap;
  }
}

//Styling for link-less sidenav labels
.usa-sidenav-label {
  color: #565c65;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

//Archive Banner Styling
.archived-content {
  background-color: #FACE02;
  width: 100%;
  padding: .5rem 1rem;
  display: flex;
}

@media (min-width: 78rem) {
  .usa-header--extended .usa-navbar,
  .usa-header--extended .usa-nav__inner,
  .usa-banner__inner {
    max-width: 78rem;
  }

  .wide-layout,
  .usa-layout-docs {
    .grid-container {
      max-width: 78rem;
    }
  }
}

//Default Link Styling
a {
  color: $default-link-color;
}



.usa-banner__button::after {
  /* bugfix, for some reason the prefixed version is missing in the USWDS build */
  -webkit-mask: url(../img/chevron.svg) no-repeat center / 1.3128205128ex 0.8ex;
}

@import 'components/header';
@import 'components/hero';
@import 'components/why-search-gov';
@import 'components/highlights';
@import 'components/get-more-info';
@import 'components/site-links';
@import 'components/footer';
@import 'components/customers';
@import 'components/top-tasks';
@import 'components/tags';
