@media (min-width: 78rem) {
  .grid-container,
  .usa-header--extended .usa-navbar,
  .usa-header--extended .usa-nav__inner,
  .usa-banner__inner {
    max-width: 78rem;
  }
}

@media (min-width: 40em) {
  .usa-banner__button::after {
    /* bugfix, for some reason the prefixed version is missing in the USWDS build */
    -webkit-mask: url(../img/chevron.svg) no-repeat center / 1.3128205128ex 0.8ex;
  }
}

@import 'components/header';
@import 'components/hero';
@import 'components/why-search-gov';
@import 'components/highlights';
@import 'components/get-more-info';
@import 'components/site-links';
@import 'components/footer';

