@media (min-width: 78rem) {
  .grid-container,
  .usa-header--extended .usa-navbar,
  .usa-header--extended .usa-nav__inner,
  .usa-banner__inner {
    max-width: 78rem;
  }
}

@import 'components/header';
@import 'components/hero';
@import 'components/why-search-gov';
@import 'components/get-more-info';
@import 'components/site-links';
@import 'components/footer';

