---
---

/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
*/

// Set correct paths for use with asset pipeline
$theme-font-path: '{{ site.baseurl }}{{ site.font_path }}';
$theme-image-path: '{{ site.baseurl }}{{ site.uswds_img_path }}';
$theme-why-search-gov: '{{ site.baseurl }}{{ site.img_path}}/squiggles.svg';
$theme-site-launch-path: '{{ site.baseurl }}{{ site.img_path}}/site/launch.svg';
$theme-usa-icon-path: '{{ site.baseurl }}{{ site.uswds_img_path}}/usa-icons/campaign.svg';
$theme-usa-hero-path: '{{ site.baseurl }}{{ site.img_path}}/serps.svg';

// -------------------------------------
// Import individual USWDS packages...
@import "../../node_modules/uswds/dist/scss/uswds";

//@import "_sass/theme/uswds-theme-general";
//@import "_sass/theme/uswds-theme-typography";
//@import "_sass/theme/uswds-theme-spacing";
//@import "_sass/theme/uswds-theme-color";
//@import "scss/packages/uswds-components";
//@import "scss/packages/uswds-utilities";

@import "search-gov-theme";

/*
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

// default mode hide banner
.usa-banner__content {
  display: none;
}

@media screen and (min-width: 640px) {
  .tablet\:width-1\/3 {
    width: 33%;
  }
  .tablet\:float-left {
    float: left;
  }
}

@media screen and (min-width: 640px) {
  .paginate-link {
    display: initial;
  }
  .paginate-button {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .paginate-link {
    display: none;
  }
  .paginate-button {
    display: block;
  }
}


