.site-links {
  background-color: color('base-lightest');

  ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin-bottom: units(2);
  }

  a {
    border-bottom: 1px solid;
    color: #1b1b1b;
    display: inline-block;
    padding: .01em;
    font-size: size('sans', 'md');
    text-decoration: none;
  }

  a:hover {
    border-color: transparent;
  }
}
