img.year-review-2023-hero-image {
  width: 100%;
}

img.year-review-2023-pie-chart {
  width: 33%;
}

.year-review-2023-internal-nav {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 99999;
}

.year-review-2023-internal-nav {
  margin-bottom: -4px;
}

.year-review-2023-internal-nav__list {
  align-items: center;
  flex-direction: row;
}

.year-review-2023-internal-nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  text-align: center;
}

.year-review-2023-internal-nav__item {
  margin-right: 5rem;
}

.year-review-2023-internal-nav__item {
  margin: auto;
  padding: 0;
}

.year-review-2023-internal-nav__link, .year-review-2023-internal-nav__link:visited {
  color: #454545;
  display: block;
  font-size: 1.2em;
  padding: 0.75rem 0.5rem;
  text-decoration: none;
  border-bottom: solid 5px transparent;
}

.year-review-2023-internal-nav__link:hover {
  border-bottom: solid 5px #255E9D !important;
}

// .year-review-2023-internal-nav__link, .year-review-2023-internal-nav__link:visited {
//   font-size: 1.06rem;
//   padding: 0.75rem 0.5rem;
// }

.usa-in-page-nav-year-review-2023-list {
  padding: 0 1.5rem;
}

.usa-in-page-nav-year-review-2023__item {
  list-style: none;
  padding: .75rem 0 .75rem .75rem;
  border-top: solid 1px #cccccc;
  border-left: solid 4px transparent;

  &:hover {
    border-left: solid 4px #255E9D;
  }

  .active {
    border-left: solid 4px #255E9D;
  }

  a {
    text-decoration: none;
    color: #4d5560;
  }
}

.usa-in-page-nav-year-review-2023__item:last-child {
  border-bottom: solid 1px #cccccc;
}

.usa-in-page-nav-year-review-2023__item:before {
  border-left: solid 3px #255E9D;
}

blockquote.year-in-review {
  background: #d9e8f6;
  border-left: solid 6px #1A4480;
}

blockquote.overview {
  min-height: 360px;
  font-size: 1.5rem;
}

.overview-thumbs {
  p {
    font-size: .875rem;
    margin: .25rem 0;
  }
}

.overview-partners {
  p {
    font-size: .875rem;
    margin: .25rem 0;
  }

  img {
    max-width: 200px;
  }
}

.year-checklist {
  p {
    font-weight: 800;
    color: #ffffff;
    font-size: 2rem;
  }

  a {
    text-decoration: none;
  }

  button {
    color: #0076D5;
    padding: 0.75em 2rem;
    border: none;
    background: white;
    border-radius: 5rem;
    cursor: pointer;
  }
}

.year-review-2023-text {
  z-index: 10000;
  max-width: 360px;
  position: absolute;
  top: 360px;
  padding-left: 30px;

  .review-title-2023 {
    font-size: 3rem;
    margin: 0;
    font-weight: bold;
  }

  .review-header-2023 {
    font-size: 1.5rem;
    margin: 0;
    font-weight: bold;
  }

  .review-subheader-2023 {
    font-size: 1.2rem;
    margin: 0;
    font-weight: bold;
  }

  p {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 1247px) {
  .year-review-2023-text {
    top: 300px;
  }
}

@media screen and (max-width: 780px) {
  .year-review-2023-text {
    display: none;
  }
}

.bg-blue {
  background: #0076D5;
}

.usa-in-page-nav-year-review-2023 {
  margin-left: 0.25rem;
  margin-top: 2.25rem;
  position: sticky;
  top: 8rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.usa-in-page-nav-year-review-2023 nav {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
}

.example-website {
  background: #e9f3fa;
}

h3.design-header {
  position: relative;
}

h3.design-header:after {
  background-color: #B50B0C;
  bottom: -5px;
  content: '';
  display: block;
  height: 5px;
  left: 0;
  position: absolute;
  width: 70px;
}


hr.section-break {
  border: none;
  height: 50px;
}

.checklist-redesign-button {
  box-shadow: inset 0 0 0 2px #ffffff;
  color: white;

  &:hover {
    color: #0076DC;
    background-color: #ffffff;
  }
}