backend:
  name: github
  repo: GSA/search-gov-website
  base_url: https://federalistapp.18f.gov
  auth_endpoint: external/auth/github
  preview_context: federalist/build
  branch: afarooque/cms-configuration
  squash_merges: true


media_folder: assets/uploads
public_folder: /images/uploads
publish_mode: editorial_workflow
logo_url: https://federalist.18f.gov/assets/images/federalist-logo.png

collections:
  - label: Releases
    name: releases
    folder: _releases/
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    editor:
      preview: false
    fields:
      - {label: 'Layout', name: 'layout', widget: 'hidden', default: 'post'}
      - {label: 'Category', name: 'category', widget: 'hidden', default: 'releases'}
      - {label: "Title", name: "title", widget: "string", default: "[[Month]] [[Year]] Release Notes"}
      - {
          label: "Last Modified At",
          name: "last_modified_at",
          widget: "datetime",
          format: 'MMMM D, YYYY',
          dateFormat: 'MMMM D, YYYY',
          timeFormat: false }
      - {label: "Redirect From", name: "redirect_from", widget: "list", required: false, pattern: ['^\/.*', "Must begin with leading slash."], hint: "Relative URL path for redirect. Comma-separated list."}
      - {label: "Author", name: "author", required: false, widget: "hidden"}
      - { 
          label: "Side Navigation",
          name: "sidenav",
          widget: "select",
          default: "about_us",
          options: ["about_us", "admin_center", "developer", "get_started", "indexing", "support"]
       }
      - { 
          label: "Release Year",
          name: "release-year",
          widget: "string",
          default: 2021
       }
      - {
          label: "Description", 
          name: "description", 
          widget: "string",
          required: false,
          default: ""
        }
      - {
          label: "Body", 
          name: "body", 
          widget: "markdown",
          default: "## Improvements \n \n ## Fixes \n"
        }
  - label: About 
    name: about
    folder: about/
    create: true
    slug: "{{slug}}"
    nested:
      depth: 100 # max depth to show in the collection tree
      summary: '{{path}}' # optional summary for a tree node, defaults to the inferred title field
    editor:
      preview: false
    meta: &standard_path { path: { widget: string, label: 'Path', index_file: 'index' } }
    fields: &standard_fields
      - {label: 'Layout', name: 'layout', widget: 'hidden', default: 'page'}
      - {label: "Title", name: "title", widget: "string"}
      - {
          label: "Last Modified At",
          name: "last_modified_at",
          widget: "datetime",
          format: 'MMMM D, YYYY',
          dateFormat: 'MMMM D, YYYY',
          timeFormat: false }
      - {label: "Redirect From", name: "redirect_from", widget: "list", required: false, pattern: ['^\/.*', "Must begin with leading slash."], hint: "Relative URL path for redirect. Comma-separated list."}
      - {label: "Author", name: "author", widget: "hidden"}
      - { 
          label: "Side Navigation",
          name: "sidenav",
          widget: "select",
          default: "about_us",
          options: ["about_us", "admin_center", "developer", "get_started", "indexing", "support"]
      }
      - {
          label: "Description", 
          name: "description", 
          required: false,
          widget: "string",
          default: ""
        }
      - {
          label: "Body", 
          name: "body", 
          widget: "markdown"
        }
  - label: Admin Center
    name: admin-center
    folder: admin-center/
    create: true
    slug: "{{slug}}"
    nested:
      depth: 100 # max depth to show in the collection tree
      summary: '{{path}}' # optional summary for a tree node, defaults to the inferred title field
    editor:
      preview: false
    meta: *standard_path
    fields: *standard_fields
  - label: Developer
    name: developer
    folder: developer/
    create: true
    slug: "{{slug}}"
    nested:
      depth: 100 # max depth to show in the collection tree
      summary: '{{path}}' # optional summary for a tree node, defaults to the inferred title field
    editor:
      preview: false
    meta: *standard_path
    fields: *standard_fields
  - label: Indexing
    name: indexing
    folder: indexing/
    create: true
    slug: "{{slug}}"
    nested:
      depth: 100 # max depth to show in the collection tree
      summary: '{{path}}' # optional summary for a tree node, defaults to the inferred title field
    editor:
      preview: false
    meta: *standard_path
    fields: *standard_fields
  - label: Get Started
    name: get-started
    folder: get-started/
    create: true
    slug: "{{slug}}"
    nested:
      depth: 100 # max depth to show in the collection tree
      summary: '{{path}}' # optional summary for a tree node, defaults to the inferred title field
    editor:
      preview: false
    meta: *standard_path
    fields: *standard_fields
  - label: Main Pages
    name: main-pages
    folder: /
    create: true
    slug: "{{slug}}"
    editor:
      preview: false
    meta: *standard_path
    fields: *standard_fields