.usa-header--extended .usa-navbar {
  display: flex;
  align-items: center;
  padding-top: units(1);
  padding-bottom: units(1);
  background-color: white;
}

.usa-nav__primary {
  // padding-top: units(3);
  // padding-bottom: units(3);
  margin-bottom: -.075rem;

  & > .usa-nav__primary-item {
    & > a, & > button {
      font-weight: 500;
    }
  }
}

.usa-logo__text {
  display: inline-block;
  margin-right: units(9);

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 175px;
    font-family: Montserrat, Arial, sans-serif;
    color: #162E51;
    letter-spacing: .075em;
    font-weight: 500;
    font-size: 1.25rem;
  }

  .logo {
    background-color: #0076d6;
  }

  span {
    padding-left: .4rem;
    padding-bottom: .25rem;
  }
}

.usa-nav__secondary {
  display: flex;

  .usa-navbar .usa-button-group {
    margin-left: auto;
    margin-right: units(3);
  }

  .usa-button.sign-in,
  .usa-button.system-status {
    color: color('primary');
    cursor: pointer;
    display: inline-block;
    padding: 0.75rem 1.25rem;
    text-decoration: none;
  }

  .usa-button.login {
    padding: 0.4rem 1rem;
	margin-top: .25rem;
  }


  .usa-button.system-status {
    margin-right: -1rem;
  }
}

@media (min-width: 64em) {
  .usa-nav__secondary {
    bottom: 4rem;
  }
  .usa-header--extended .usa-logo {
    margin-bottom: .75rem;
  }
}

@media (min-width: 30em) {
  .usa-button-group {
      min-width: 25rem;
  }
}

@media (max-width: 63.99em) {
  .usa-nav__secondary {
    flex-direction: column;
  }

  .usa-button-group {
    min-width: 10rem;
  }
}
