.usa-header--extended .usa-navbar {
  display: flex;
  align-items: center;
  padding-top: units(1);
  padding-bottom: units(1);
}

.usa-nav__primary {
  // padding-top: units(3);
  // padding-bottom: units(3);

  & > .usa-nav__primary-item {
    & > a, & > button {
      font-weight: 500;
    }
  }
}

.usa-logo__text {
  display: inline-block;
  margin-right: units(9);

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 175px;
    // font-family: Avenir, Arial, sans-serif;
    color: #112E51;
    letter-spacing: .075em;
    font-weight: 500;
    font-size: 1.5rem;
  }

  .logo {
    background-color: #0071bc;
  }
}

.usa-nav__secondary {
  display: flex;

  .usa-navbar .usa-button-group {
    margin-left: auto;
    margin-right: units(5);
  }

  .usa-button.sign-in,
  .usa-button.system-status {
    color: color('primary');
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 0.75rem 1.25rem;
    text-decoration: none;
  }

  .usa-button.system-status {
    margin-right: -1rem;
  }
}

@media (min-width: 64em) {
  .usa-nav__secondary {
    bottom: 4rem;
  }
}

@media (min-width: 30em) {
  .usa-button-group {
      min-width: 25rem;
  }
}

@media (max-width: 63.99em) {
  .usa-nav__secondary {
    flex-direction: column;
  }

  .usa-button-group {
    min-width: 10rem;
  }
}
