.usa-header--extended .usa-navbar {
  display: flex;
  align-items: center;
  padding-top: units(1);
  padding-bottom: units(1);
}

.usa-nav__primary {
  padding-top: units(3);
  padding-bottom: units(3);

  & > .usa-nav__primary-item {
    & > a, & > button {
      font-weight: 500;
    }
  }
}

.usa-navbar .usa-button-group {
  margin-left: auto;
}

.usa-logo__text {
  display: inline-block;
  margin-right: units(9);
}

.usa-button.sign-in {
  color: color('primary');
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 0.75rem 1.25rem;
  text-decoration: none;
}
