.search-two-column {
    display: flex;
    justify-content: space-between;
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}

.column-left {
    width: 25%;
}

.column-right {
    width: 70%;
}

.result-url {
    margin-bottom: .25rem;
}

.facet-field {
    color: $theme-color-base;
    font-size: .75rem;

}