.search-two-column {
    display: flex;
    justify-content: space-between;
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}

.column-left {
    width: 25%;
}

.column-right {
    width: 70%;
}

.result-url {
    margin-bottom: .25rem;
}

.facet-field {
    color: $theme-color-base;
    font-size: .75rem;

}

.usa-checkbox__label {
    max-width: 10rem;
}

.result-image {
    max-height: 133px;
    max-width: 200px;
    margin: 0.5rem;
}

.search-result {
    display: flex;
    flex-direction: row;
}