.top-tasks {
    .usa-media-block {
        margin-bottom: 1rem;
    }

    .usa-media-block__body {
        height: 100%;

        p {
            margin-bottom: 5rem;
        }
    }

    .usa-button {
        position: absolute;
        bottom: 0;
        margin: 0 auto;
    }
}
