.top-tasks {
    .usa-media-block {
        margin-bottom: 2rem;
    }

    .usa-media-block__body {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .usa-button {
        max-width: 12rem;
    }

}
