.why-search-gov {
  background-image: asset_url('squiggles.svg');
  background-position: 0 -14px; // magic number is just a quirk of the bg image
  background-repeat: no-repeat;
  background-size: auto 103%;
  line-height: line-height('body', 5);
  margin-bottom: -12px;
  padding-left: 30%;

  .usa-button {
    margin-top: units(2.5);
    padding: units(2.5);

    &, &:hover {
      color: #fff;
    }
    text-decoration: none;
  }


  h2 {
    color: color('primary-darker');
    font-weight: 400;

    strong {
      font-weight: 800;
    }
  }

  blockquote > cite {
    font-weight: 800;

    &:before {
      content: '\2014';
      font-weight: 400;
      margin: 0 .5rem;
    }
  }
}

// @media screen and (min-width: 880px) and (max-width: 1400px) {
@media screen and  (max-width: 1400px) {
  .why-search-gov {
    div {
      background-color: rgba(255,255,255,.3);
      backdrop-filter: blur(50px);
      -webkit-backdrop-filter: blur(50px);
      border-radius: units(4);
      padding: units(4);
    }
  }
}

@media screen and (max-width: 880px) {
.why-search-gov {
    padding-left: 0;
  }
}
