---
layout: base
---

{% comment %}
This template is for a single page that does not have a date associated with it. For example, an about page.
{% endcomment %}

<div id="main-content" class="usa-layout-docs usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      {% if page.sidenav %}
        {% include sidenav.html sidenav=page.sidenav %}
      {% endif %}
      <main>
        <div class="usa-layout-docs__main desktop:grid-col-9 usa-prose">
          <h1 class="title">{{page.title}}</h1>
            {{ content }}
        </div>
      </main>
    </div>
  </div>
</div>