---
layout: base
---

{% comment %}
This template is for a single page that does not have a date associated with it. For example, an about page.
{% endcomment %}

<div class="usa-layout-docs usa-section">
  <div id="main-container" class="grid-container">
    <div class="grid-row grid-gap">
      {% include sidenav.html %}
      {% comment %}
      Do not remove the article semantic tag or the article class. They are required for Admin Center help links to work.
      {% endcomment %}
      <article class="usa-layout-docs__main desktop:grid-col-9 usa-prose article">
        <main id="main-content">
          <h1 class="title">{{page.title}}</h1>
            {{ content }}
        </main>
      </div>
    </div>
  </div>
</div>