---
layout: default
---

{% comment %}
This is used in blog posts. The index page can be found at blog/index.html
{% endcomment %}

<div class="usa-layout-docs usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      {% if page.sidenav %}
        {% include sidenav.html sidenav=page.sidenav %}
      {% endif %}
      <div class="usa-layout-docs__main desktop:grid-col-9 usa-prose">
        <h1 class="title">{{page.title}}</h1>
          {% if page.author %}
            <div class="text-base margin-bottom-2">
              By <span class="text-bold">{{ page.author }}</span> · {{ page.date | date: '%B %d, %Y' }}
            </div>
          {% endif %}
        {{ content }}
        {% unless page.author %}
          <div class="text-base">
            {% unless page.date %}
              {{ page.last-updated }}
            {% else %}
              {{ page.date | date: '%B %d, %Y' }}
            {% endunless %}
          </div>
        {% endunless %}
      </div>
    </div>
  </div>
</div>
