---
layout: base
---

{% comment %}
This template is for a single page that does not have a date associated with it. For example, an about page.
{% endcomment %}

<section class="usa-layout-docs usa-section padding-0">
  <div class="grid-container padding-y-0">
    <div class="grid-row">
      <img src="{{ site.baseurl }}/about/updates/year-in-review/2023-year-in-review/img/{{page.hero-image-desktop}}" class="year-review-2023-hero-image desktop:display-block tablet:display-none"/>
      <img src="{{ site.baseurl }}/about/updates/year-in-review/2023-year-in-review/img/{{page.hero-image}}" class="year-review-2023-hero-image desktop:display-none tablet:display-block"/>
      <div class="year-review-2023-text desktop:display-block tablet:display-none"><h1 class="review-header">2023 in review</p><br></div>
    </div>
  </div>
</section>
<nav class="usa-layout-docs usa-section together-internal-nav text-base padding-0 margin-top-neg-5" aria-label="Together report internal navigation">
  <div class="grid-container">
    <div class="">
      <ul id="internal-nav" class="together-internal-nav__list deskop:padding-x-15 padding-y-0 margin-y-0 bg-gray-10">
            <li class="together-internal-nav__item">
              <a href="{{ site.baseurl }}/about/updates/year-in-review/2023-year-in-review/overview.html" class="together-internal-nav__link current">
                Overview
              </a>
            </li>
            <li class="together-internal-nav__item">
              <a href="{{ site.baseurl }}/about/updates/year-in-review/2023-year-in-review/data.html" class="together-internal-nav__link ">     
                Data
              </a>
            </li>
      </ul>
    </div>
  </div>
</nav>


<div class="usa-layout-docs usa-section">
  <div id="main-container" class="grid-container">
    <div class="grid-row grid-gap">
      
      {% comment %}
      Do not remove the article semantic tag or the article class. They are required for Admin Center help links to work.
      {% endcomment %}
     
      {{ content }}
      
    </div>
  </div>
</div>
<section class="usa-layout-docs usa-section bg-blue year-checklist">
  <div class="grid-container">
    <div class="grid-row">
      <div class="tablet:grid-col-9">
        <p>CTA TBD</p>
      </div>
      <div class="tablet:grid-col-3 tablet:margin-y-6">
        <a class="usa-button usa-button--outline checklist-redesign-button" href="{{ site.baseurl }}/indexing/redesign.html">CTA TBD - update this link target too</a>
      </div>
    </div>
  </div>
</section>